.app-component {
  background: url(./images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 750px;
}
.electro-reacto-nav-item{
  text-align: center;
  cursor: pointer;
  width: 10rem;
}
.electro-reacto-navbarbrand{
  margin:auto !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.electro-reacto-navbarbrand-text{
color: #007685;
}
.electro-reacto-navbarbrand-backup-text{
  color: #007685;
  margin-left: auto;
}
.clinic-icon{
  background: url(./images/clinic-icon.png)  no-repeat;
  background-size: 49px;
  background-position-x: center;
  height: 41px;
}
.electro-reacto-add-patient-wrapper{
  margin-left: 2rem;
}
.electro-reacto-add-patient-textfields{
  margin-right: 2rem !important;
  margin-top: 2rem !important;
}
.electro-reacto-text-color{
  color:grey;
}
.electro-reacto-tab-icons{
  opacity: 0.6 !important;
}
.modal-content{
  background-color: #c5c6ed !important;
}
.electro-reacto-cards{
  margin: 0.5rem 1rem 1rem 1rem !important;
}
.card-body{
  background-color: unset !important;
}
.electro-reacto-line{
  border-bottom: 1px solid #a9b7c3;
  padding-top: 1.5rem;
}
.electro-reacto-backup-button-style{
  margin-top:1rem !important;
  float: right;
}
.electro-reacto-backup-icon-style{
  margin-right: 0.5rem;
}